.beautiful_middle{
	margin: 0px auto;
	width: 800px;
	height: 100%;
}

.beatiful_middle_top{
	margin: 0px auto;
	width: 100px;
	height:55%;
}

#beautifulTitle{
	margin: 0px auto;
	width: 517px;
	height: 56px;
	/*background-color: #ddd;*/
	/*background-image: url("../src/beautifulWorldTitle.png");
	background-repeat: no-repeat;*/
	position: relative;
/*	background-image:url("../src/beautifulWorldTitle.png");
	display: none;*/
	/*background-color: #ccc;*/
}

#cardCopy1{

	/*position: absolute;
	z-index:10;
	left:100px;
	top:10px;
	width: 100px;
	height: 30px;
	background:url("../src/beautifulWorldTitle.png") no-repeat -100px -10px;
	background-color: #111;*/
}

.beautiful_middle_bottom{
	margin:20px auto;
	width: 50%;
	height: 30%;
	/*background-color: #aaa;*/
}

.beautiful_middle_icon{
	position: relative;
	margin:30px auto;
	width: 150px;
	height:150px;
	/*background-color: #ccc;*/
	/*background:url("../src/evaIcon.png") no-repeat 45% 45%;*/
	 /*#fbb*/
	border-radius: 75px;

}


